<%= turbo_frame_tag :search_results do%>
  <ul class='list-group'>
    <% if @repositories.present? %>
      <% @repositories.each do |repo| %>
        <li class='list-group-item'>
          <%= repo['name'] %>
        </li>
      <% end %>
    <% else %>
      <p>No repositories found ;(</p>
    <% end %>
  </ul>
<% end %>
